@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.app{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.title{
    font-size: 30px;
    font-weight: 700;
}